body{
    font-family: 'Press Start 2P', cursive;
    margin:0;
    background-image:url("../images/sunrise-1756274_1920.jpg");
    
    background-repeat: no-repeat;
}
#map{
    background-image:url("../images/8-bit-google-maps-1.jpg");
    background-position:center;
    top:10%;
}
.star{
    position:absolute;
    width:1px;
    height:1px;
    background-color:white;
}
.intro{/*Animation, size and text color.*/
    font-family:"Press Start 2P",cursive;
    position:absolute;
    top:30%;
    left:35%;
    z-index:1;
    animation:intro 5s ease-out 1s;
    color:#4682b4;
    font-weight:400;
    font-size:300%;
    opacity:0;
}
@keyframes intro{
    0%{
        opacity:0;
    }
    20%{
        opacity:1;
    }
    90%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
.btn{
    position:absolute;
    bottom:0px;
    margin-left:25%;
}
/* p{
    color:#ff4500;
}
#board{Font Setup and board positioning */
    /* font-family: 'Press Start 2P', cursive;
    transform:perspective(500px) rotateX(25deg);
    transform-origin:50% 100%;
    text-align:justify;
    position:absolute;
    margin-left:-9em;
    font-weight:bold;
    overflow:hidden;
    font-size:350%;
    height:50em;
    width:18em;
    bottom:0;
    left:50%;
}
#board:after{    
    position:absolute;
    content:' ';
    bottom:60%;
    left:0;
    right:0;
    top:0;
} */
/* #content{ Scrolling animation and positioning. */
    /* animation:scroll 5s linear 10s;
    position:absolute;
    top:100%; */
/* }
#title, #subtitle{
    text-align:center;
}
@keyframes scroll{
    0%{
        top:100%;
    }
    100%{
        top:-170%;
    }
}
.start {
    position:relative;
    text-align:center;
    background:transparent;
    margin:0 auto;
    max-width:1000px;
    padding:2ch;
    width:100%;
} */
/* .btn {
    font-family:'Press Start 2P',cursive;
    background:#7C7C7C;
    border-bottom:1px inset rgba(0, 0, 0, 0.5);
    border-left:1px inset rgba(0, 0, 0, 0.5);
    border-right:1px inset rgba(255, 255, 255, 0.5);
    border-top:1px inset rgba(255, 255, 255, 0.5);
    box-sizing:border-box;
    color:white;
    cursor:pointer;
    display:inline-block;
    font-size:2rem;
    margin:1rem;
    max-width:320px;
    padding:.5rem;
    text-shadow:0px 0px 5px #000;
    text-transform:uppercase;
    width:100%;
}
.btn:focus, .btn:hover {
    background:#BCBCBC;
}
.btn.primary {
    background:#881400;
    }
.btn.primary:focus, .btn.primary:hover {
    background:#A81000;
    } */
