body{
    font-family:'Press Start 2P',cursive;
    margin:0;
    background-image:url("../images/sunrise-1756274_1920.jpg");
    background-repeat:no-repeat;
}
.container{
    /* background-image: url("../images/scanlines.png"); */
    background-position:center;
    margin:1% 1% 0 2.5%;
}
#map{
    background-image:url("../images/8-bit-google-maps-1.jpg");
    background-repeat:no-repeat;
    height:350px;
    width:650px;
}
.intro{/*Animation, size and text color.*/
    font-family:"Press Start 2P",cursive;
    position:absolute;
    top:30%;
    left:35%;
    z-index:1;
    animation:intro 5s ease-out 1s;
    color:#4682b4;
    font-weight:400;
    font-size:300%;
    opacity:0;
}
@keyframes intro{
    0%{
        opacity:0;
    }
    20%{
        opacity:1;
    }
    90%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
.btn{
    position:relative;
    top:50%;
    margin-left:41%;
    background-color:transparent;
}

button{
    padding: 15px;
    border-color: white;
}