*{
  font-family: 'Press Start 2P', cursive;
  text-align:center;
  background-color:#000000;
  color:#fff;
}
.split {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}
.left {
  left:0;
}
.right {
  right:0;
}
.bottom{
  left:0;
  right:0;
}
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#map, #canvas{
  height:99%;
  width:100%;
}
.gameText{
  color:#fff;
}
